/*  
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; under version 2
 * of the License (non-upgradable).
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 * 
 * Copyright (c) 2002-2008 (original work) Public Research Centre Henri Tudor & University of Luxembourg (under the project TAO & TAO2);
 *               2008-2010 (update and modification) Deutsche Institut für Internationale Pädagogische Forschung (under the project TAO-TRANSFER);
 *               2009-2012 (update and modification) Public Research Centre Henri Tudor (under the project TAO-SUSTAIN & TAO-DEV);
 * 
 */
body {
	background:#eee;
	font-family: Arial, Helvetica, sans-serif;
	color: #3A3A3A;
}

#supportTab{
	width:30px;
	height:120px;
	background:#aaa;
	border:1px solid #aaa;
	position:absolute;
	top:50%;
	margin-top:-50px;
	right:0px;
	border:2px solid white;
	background:#ccb28b url(../images/feedbackButton.png) no-repeat center center;
	z-index:2;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
	border-right:none;
}

#supportTab:hover{
	cursor:pointer;
	margin-right:1px;
}

b{
	font-weight:bold;
}

#installation_form {
	background:white url(../images/tao_logo.png) no-repeat 20px 20px;
	width:781px;
	height:480px;
}

h4 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
	line-height: 20px;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position-y: 1px;
	color: #3A3A3A;
        font-family: Arial, Helvetica, sans-serif;
}

#genericPopup h4.help {
	background-image: url('../images/help.png');
}

#genericPopup h4.error {
	background-image: url('../images/exclamation.png');
}

h2 {
	position:absolute;
	margin-top:20px;
	right:20px;
	font-size:12px;
	font-weight:bold;
	color:rgb(205,0,62);
        font-family: Arial, Helvetica, sans-serif;
}

h1 {
	position:absolute;
	left:205px;
	top:80px;
	padding-left:3px;
	border-left :5px solid #BBB2A6;
	font-weight:bold;
	line-height: 22px;
	font-size:18px;
	color: #3A3A3A;
        font-family: Arial, Helvetica, sans-serif;
}

h3{
	font-weight:bold;
	margin-bottom:15px;
	border-bottom:1px dotted black;
	padding-bottom:5px;
        font-family: Arial, Helvetica, sans-serif;
}

#comments{
	position: absolute;
	font-size:12px;
	margin-top:134px;
	padding:0 15px 0 0;
	line-height:18px;
	margin-left:200px;
	font-weight: bold;
	width: 570px;
	color: #3A3A3A;
}
	

#install_seq li {
	font-size:10px;
	margin:10px 0;
	color: #3A3A3A;
        font-family: Arial, Helvetica, sans-serif;
}

#install_seq li a{
	color: #000;
	text-decoration: none;
	font-style: italic;
	font-weight:normal;
}

#install_seq li a{
	color: #3A3A3A;
}

#install_seq li a,
#install_seq li a:link, 
#install_seq li a:active,
#install_seq li a:visited{
	text-decoration: none;
}

#install_seq li a:hover{
	text-decoration: underline;
}

#install_seq {
	position:absolute;
	margin-left:10px;
	top:140px;
	width:150px;
	height:332px;
	padding:0 10px;
	background:rgb(229,229,229);
}


.currentStep {
	font-weight:bold;
	color: #3A3A3A;
}

#mainFrame{
	width:790px;
	height:490px;
	/* Centered Box */
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-395px;
	margin-top:-245px;
	
}

iframe{
	overflow:hidden;
}

/*  Form layout configuration */

form{
	font-weight:normal;
	font-size:12px;
	margin-top:10px;
}


input[type="text"], input[type="password"]{
	width:185px;
	font-weight:bold;
	font-size:10px !important;
	background:#e5e5e5;
	border:none;
	height:2.2em;
	padding:0 5px;
	clear:both;
	color: #3A3A3A;
        font-family: Arial, Helvetica, sans-serif;
}

input[type="checkbox"]{
	width:15px;
	clear:both;
	margin:13px 0 0 100px;
        font-family: Arial, Helvetica, sans-serif;
}


.checkboxLabel{
	font-size: 10px;
	top:24px;
	left:0;
	font-weight: bold;
	position:absolute;
	color: #3A3A3A;
}

.icons{
	width:18px;
	height:18px;
	padding-top:2px;
	padding-left:2px;
	margin-left:5px;
	position:relative;
	top:-2px;
	margin-top:10px;
	cursor:pointer;
}

form > ul > li > label{
	font-style: italic;
	font-size:10px;
}

form > ul > li > input{
	margin-top:8px;
	width:240px;
}

form > ul > li > select {
	margin-top:8px;
	width:195px;
	background:#e5e5e5;
	border:none;
	font-weight:bold;
	padding:3px 0;
	color: #3A3A3A;
}

#installation_form select {
	font-size:10px;
	color: #3A3A3A;
}

form > ul > li {
	position: relative;
	width:270px;
	display: inline-block;
	margin:13px 10px 0 0;
}

form > ul > li >*{
	float:left;
}

/* help & error PopUp */
#helpPopUp, #errorPopUp{
	width:380px;
	height:210px;
	position:absolute;
	z-index:999;
	top:50%;
	left:50%;
	margin-left:-202px;
	margin-top:-125px;
	padding:10px;
} 

#helpPopupContent, #errorPopUp{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:12px;
	line-height: 14px;
	overflow:auto;
	height:210px;
	width: 380px;
}

/*body .ui-widget-overlay{
	width:100%; //420px;
	height:100%; //250px;
	position:absolute;
	z-index:990;
	top:50%;
	left:50%;
	margin-left:-212px;
	margin-top:-135px;
}*/

#helpPopUpClose, #errorPopUpClose{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#666;
	font-size:12px;
	position:absolute;
	right:5px;
	top:5px;
}

#helpPopUpClose:hover, #errorPopUpClose:hover{
	cursor:pointer;
}

/* support popup */
#mainSupportPopup{
	position:absolute;
	display:none;
	width:640px;
	height:448px;
	left:50%;
	top:50%;
	margin-left:-330px;
	margin-top:-234px;
	z-index:999;
	padding:10px;
}

#supportPopup {
	position:relative;
	padding:15px;
	z-index:992;
	height:415px;
} 

#supportPopupContent {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:12px;
	line-height: 14px;
	overflow:none;
	position:relative;
	z-index:995;
	height:420px;
}

#supportPopupContent h5 {
	font-size:18px;
	font-weight:bold;
}

#supportLoading{
	display: none;
	margin-left: 200px;
	margin-top: 190px;
}

#supportLoading span{h
	margin-left: 23px;
	font-weight: bold;
	font-size: 10px;
	font-style: italic;
}

/*body .ui-widget-overlay {
	width:436px;
	height:268px;
	position:absolute;
	z-index:990;
	top:50%;
	left:50%;
	margin-left:-218px;
	margin-top:-134px;
}*/

#supportPopupOverlay .ui-widget-overlay {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	margin:0;
}



#supportPopupClose {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#666;
	font-size:12px;
	position:absolute;
	right:5px;
	top:5px;
}

#supportPopupClose:hover, #supportPopupClose:hover {
	cursor:pointer;
}

/* supportFrame */
#supportFrameId {
	position:relative;
	width:100%;
	height:388px;
	top:10px;
	display: none;
}

h5 {
	padding-left:3px;
	border-left :5px solid #BBB2A6;
	font-weight:bold;
}

/* input */
body input.helpTaoInputLabel, body textarea.helpTaoInputLabel {
	font-weight:normal;
	color:#aaa;
	font-style: italic;
}

body textarea {
	font-size:11px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
}

#submitForm {
	position:absolute;
	right:15px;
	bottom: -30px;
	font-size: 0.8em;
	background:#e5e5e5;
	border-top:none;
	border:none;
	padding:5px;
	width: 120px;
}

.enabled {
	color: #3A3A3A;;
}

#submitForm.enabled {
	/*background:#009933 url(../images/nextStepBackground.png) no-repeat right;*/
	background:#009933;
	color:white;
	font-weight:bold;
	/*border:2px solid #009933;*/
}

.disabled {
	color:#aaa;
}

.formMandatory {
	font-weight: bold;
	color:#D31145;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	position:relative;
	margin-left:4px;
	margin-top:4px;
}

.formExample {
	font-weight: bold;
	color:#D31145;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}



#formComment {
	position:relative;
	top: 23px;
	font-size:10px;
	font-style: italic;
	text-align: left;
	color: #3A3A3A;
}

.helpFrac {
	position:relative;
	padding:5px 10px 20px 5px;
	border:1px solid #aaa;
	margin-top:35px;

}

hr {
	clear:both;
	visibility: hidden;
}


html, body{
	height:100%;
}

#screenShield {
	display:none;
	width:100%;
	height:100%;
	background:white;
	opacity: 0.5;
	z-index:900;
	position: relative;
	filter : alpha(opacity=50);
}


/* help popup */
#mainGenericPopup{
	position:absolute;
	display:none;
	width:350px;
	height:250px;
	left:50%;
	top:50%;
	margin-left:-185px;
	margin-top:-135px;
	z-index:999;
	padding:10px;
}

#genericPopup{
	position:relative;
	padding:10px;
	z-index:992;
	height:230px;
} 

#genericPopupContent{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:12px;
	line-height: 14px;
	overflow:none;
	position:relative;
	z-index:995;
	height:200px;
	color: #3A3A3A;
}

#genericPopupContent h5{
	font-size:18px;
	font-weight:bold;
	color: #3A3A3A;
}

/*body .ui-widget-overlay{
	width:436px;
	height:268px;
	position:absolute;
	z-index:990;
	top:50%;
	left:50%;
	margin-left:-218px;
	margin-top:-134px;
}*/

/*#genericPopupOverlay .ui-widget-overlay{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	margin:0;
}*/



#genericPopupClose{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#666;
	font-size:12px;
	position:absolute;
	right:5px;
	top:5px;
}

#genericPopupClose:hover, #genericPopupClose:hover{
	cursor:pointer;
}

/* workaround hidden overflow wekti safari, chrome issue */ 
iframe::-webkit-scrollbar { display: none; }

/* Validate */
.validField{
	margin-top:6px;
	margin-left:4px;
}

#submitForm, #abortForm, #redoForm {
    font-family: Arial, Helvetica, sans-serif;
}
