/*  
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; under version 2
 * of the License (non-upgradable).
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 * 
 * Copyright (c) 2002-2008 (original work) Public Research Centre Henri Tudor & University of Luxembourg (under the project TAO & TAO2);
 *               2008-2010 (update and modification) Deutsche Institut für Internationale Pädagogische Forschung (under the project TAO-TRANSFER);
 *               2009-2012 (update and modification) Public Research Centre Henri Tudor (under the project TAO-SUSTAIN & TAO-DEV);
 * 
 */
#forms_content{
	position: absolute;
	top: 170px;
	margin-left: 200px;
}

ul{
	height: 230px;
}

#submitForm.disabled{
	width: 120px;
}

#submitForm.enabled{
	width: 120px;
}

#formComment{
	width: 330px;
}

#database{
	position: relative;
	top: 10px;
	visibility: hidden;
	line-height: 20px;
        //background: rgb(229,229,229);
}

#database > span{
	font-size: 10px;
	font-weight: bold;
	font-style: italic;
	margin-left: 20px;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

p#comments {
    font-family: Arial, Helvetica, sans-serif;
}

#database_driver {
        font-family: Arial, Helvetica, sans-serif;
}
