@charset "UTF-8";
/* to be included into your scss files, don't forget to set the includePaths (--load-path) in your compiler  */
/** Use icon within sass: @inclue icon('down'); */
/*   This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; under version 2 of the License (non-upgradable).  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.  You should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.  Copyright (c) 2008-2010 (original work) Deutsche Institut für Internationale Pädagogische Forschung (under the project TAO-TRANSFER); 2009-2012 (update and modification) Public Research Centre Henri Tudor (under the project TAO-SUSTAIN & TAO-DEV);  */
html, body, .content-wrap, #footer { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }

html { height: 100%; }

html body { height: 100%; position: relative; background-color: #eee; }

.content-wrap { min-height: 100%; /* equal to footer height */ margin-bottom: -96px; }

.content-wrap:after { content: ""; display: block; }

/* Footer */
#footer, .content-wrap:after { /* .push must be the same height as footer */ height: 96px; }

#footer { font-size: 10px; width: 100%; text-align: center; padding: 0px; }
#footer .releasestatus { width: 380px; padding: 5px 5px 5px 62px; text-align: center; position: relative; margin: auto; }
#footer .releasestatus strong { font-size: 12px; }
#footer .releasestatus img { position: absolute; left: 15px; top: 5px; }
#footer #copyright { line-height: 3; }

/* Layout specific stylesheet, used for elements positioning */
/* Layout */
#tabs { min-height: 620px; width: 99%; margin: auto 3px 32px auto; }
#tabs .ui-tabs-nav { margin-right: 0px; background-color: white; z-index: 1; }

#tabs { /* don't change it ! (used by scripting) */ }
#tabs div.ui-tabs-panel { position: relative; padding: 5px 0; }
#tabs a { outline: none; }
#tabs span.tab-closer { display: none; }
#tabs li.closable a { padding-right: 20px; }
#tabs li span.tab-closer { display: inline-block; width: 16px; height: 16px; overflow: hidden; background-image: url(../img/delete_disabled.png); background-repeat: no-repeat; background-position: center center; text-indent: -500em; margin: 8px 3px 0 0; cursor: pointer; opacity: 0.5; }
#tabs li:hover span.tab-closer { background-image: url(../img/delete.png); opacity: 1; }

/* Menu */
#main-menu { padding-left: 65px; border: none; border-width: 0px; height: 35px; position: relative; margin-right: 10px; background-position: 50% 52.5%; }
#main-menu #menu-bullet { position: absolute; top: 2px; left: 4px; width: 55px; height: 40px; background: transparent url("../img/tao_icon.png") no-repeat; }
#main-menu #menu-bullet:hover { opacity: 0.8; }
#main-menu span a { color: #888; font-size: 17px; font-size: 1.7rem; font-weight: normal; padding-left: 5px; }
#main-menu .right-menu { position: absolute; right: 0px; top: 5px; background: transparent; }
#main-menu .right-menu > div { display: inline-block; float: right; padding-left: 6px; padding-right: 6px; }
#main-menu .right-menu .vr { color: #BBBBBB; font-size: 14px; margin-top: 8px; padding-left: 1px; padding-right: 1px; }
#main-menu .right-menu [class*="icon-"] { font-size: 18px; font-size: 1.8rem; margin-top: 8px; display: inline-block; }
#main-menu .right-menu .usersettings a { text-decoration: none !important; }
#main-menu .right-menu .usersettings a .username { position: relative; top: -3px; padding: 0 3px 0 5px; }
#main-menu .right-menu .icon-with-desc { position: absolute; }
#main-menu .left-menu { margin-top: 8px; color: #BBB; }
#main-menu .left-menu span { padding-left: 4px; padding-right: 4px; font-size: 12px; }
#main-menu .left-menu a:hover { color: #D00239; text-decoration: none; }
#main-menu span.current-extension a { color: #D00239; text-decoration: none; }
#main-menu span.disabled-extension { font-size: 1.3em; color: #B0B0B0; }

/* Main containers */
.main-container { margin-left: 0; /*0.25%*/ }
.main-container .medium { width: 49.75%; float: right; }
.main-container .large { width: 74.75%; float: right; }

.data-container { width: 24%; float: left; margin-right: 1%; margin-bottom: 1%; }

.container-title { padding: 4px; font-size: 1em; }

.container-content { font-size: 1em; overflow-y: auto; min-height: 200px; max-height: 400px; }
.container-content .elt-info { display: block; padding: 0 5px; }

#authoring-container { left: 0px; width: 100%; height: 600px; }

.ext-home-container { padding: 1%; font-size: 1.1em; }

.form-help { display: block; font-size: 10px; margin: 5px 0 5px 30%; font-style: italic; }

/* Section aside */
#sections-aside { float: left; width: 20%; padding-top: 5px; }

/* Tree panel */
#section-trees { /*position:absolute;
width:19%;
left:0%;
top:40px;
height:290px;
margin: 5px 0;*/ }
#section-trees div.ui-widget-content { height: 320px; overflow-y: auto; overflow-x: hidden; padding: 0; }

.tree-actions { font-size: 11px; padding: 2px; background-color: #E0E0E0; border-left: 1px solid #AAAAAA; border-right: 1px solid #AAAAAA; }

#section-trees div.tree-custom { overflow-y: auto; height: 100%; }

/* Actions box */
#section-actions { margin-top: 5px; }
#section-actions #action-title { padding: 3px; }
#section-actions #action-items { font-size: 12px !important; font-weight: normal; color: #666; padding-top: 5px; }
#section-actions #action-items td { text-align: center; vertical-align: top; padding: 5px 0px 5px 0px; width: 33%; }
#section-actions #action-items a { text-decoration: none; font-weight: bold; color: #D1043B; }
#section-actions #action-items a:hover { color: #FA648C; }
#section-actions #action-items a img { text-decoration: none; border-width: 0px; }
#section-actions #action-items div { display: inline-block; width: 50px; min-height: 50px; text-align: center; margin: 2px; vertical-align: top; }
#section-actions ul { list-style-type: none; margin-left: 0px; padding-left: 0px; }
#section-actions ul li { margin: 12px; padding: 4px; }
#section-actions ul li a:hover { color: #FA648C; }

/* Metadata */
#section-meta { position: absolute; bottom: 0%; right: 0.25%; width: 33%; }

#meta-title { padding: 3px; }

#meta-content table { border-collapse: collapse; }
#meta-content table th, #meta-content table td { border: solid 1px #ccc; font-size: 0.9em; color: #444; padding: 3px; margin: 0; width: 20%; }
#meta-content table td { font-weight: normal; }
#meta-content table .first { width: 30%; }
#meta-content table .last { width: 50%; }

/* Ajax Loader */
#ajax-loading { z-index: 1000; display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent url(../img/ajax-loader.gif) no-repeat center center; }
#ajax-loading.overlay { background-color: #fff; opacity: 0.5; }

/* Results Manual Scoring Conciliation */
#coding_scoreconcil #selectors { width: 19.5%; float: left; }
#coding_scoreconcil #evalitems { width: 80%; float: right; }
#coding_scoreconcil #navigation { float: left; }

.containerDisplay { border: 1px solid #999; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; margin-bottom: 10px; position: relative; }
.containerDisplay > .title { border-bottom: 1px solid #999; padding: 5px 7px; font-weight: bold; background-color: #ccc; display: block; font-size: 14px; }
.containerDisplay .title a { font-size: 10px; }

ul.group-list, ul.group-list ul { padding: 0; margin: 0; border: 0; width: 100%; }

ul.group-list .group-title { padding-left: 7px; font-weight: bold; }
ul.group-list .group-title:hover { background-color: #ddd; }
ul.group-list li span.label, ul.group-list .group-title .title { padding: 5px 0; display: inline-block; }
ul.group-list li span.selector, ul.group-list .group-title .selector { width: 10%; height: 26px; vertical-align: top; display: inline-block; position: absolute; right: 0; }
ul.group-list li { padding-left: 7px; position: relative; }
ul.group-list li > .checkable, ul.group-list li .group-title > .checkable { background-image: url(../img/checkbox.png); }
ul.group-list li.group, ul.group-list li.selectable { list-style: none; border-bottom: 1px solid #999; }
ul.group-list li ul.actions { list-style: none; display: inline-block; min-width: 8px; padding-right: 5px; width: auto; vertical-align: top; }
ul.group-list li ul.actions li { display: inline-block; margin: 5px 0; padding: 0; width: 16px; height: 16px; }
ul.group-list li:last-child { border-bottom: 0; list-style: none; }
ul.group-list li:hover:not(.group) { background-color: #cccccc; }
ul.group-list li.selected { background-color: #9f9; }
ul.group-list li.selected:hover { background-color: #9c9; }
ul.group-list li .group-title { background-color: #f0f0f0; cursor: pointer; }
ul.group-list li span.title { background-color: inherit; }
ul.group-list li.expendable.closed { margin-bottom: 1px; }
ul.group-list li.expendable.closed:last-child { margin-bottom: 0; }
ul.group-list li.expendable.closed ul { display: none; }
ul.group-list li.group { padding: 0; }
ul.group-list li.selectable { cursor: pointer; }
ul.group-list .selector { background-color: transparent; background-repeat: no-repeat; background-position: center center; }
ul.group-list .has-access > .selector, ul.group-list .has-access .group-title > .selector, ul.group-list .has-access:hover > .selector, ul.group-list .has-access:hover .group-title > .selector { background-image: url(../img/checkbox_partial.png); }
ul.group-list .has-allaccess > .selector, ul.group-list .has-allaccess .group-title > .selector, ul.group-list .has-allaccess:hover > .selector, ul.group-list .has-allaccess:hover .group-title > .selector { background-image: url(../img/checkbox_checked.png); }
ul.group-list .autoadd > .selector, ul.group-list .autoadd .group-title > .selector, ul.group-list .autoadd:hover > .selector, ul.group-list .autoadd:hover .group-title > .selector { background-image: url(../img/autoadd.png); }
ul.group-list .autoadd.checked > .selector, ul.group-list .autoadd.checked .group-title > .selector, ul.group-list .autoadd.checked:hover > .selector, ul.group-list .autoadd.checked:hover .group-title > .selector { background-image: url(../img/autoadd_checked.png); }

.selector.checkable { cursor: pointer; }

.group-title span.ui-icon { display: inline-block; position: relative; top: 3px; left: -2px; }
.group-title.open { border-bottom: 1px solid #999; }
.group-title .label { font-size: 11px; }

.listbox { display: inline-block; margin: 5px 2px; }

.tileBox { margin-top: 20px; margin-left: 20px; float: left; padding: 5px; background-color: #efefef; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; width: 60%; }
.tileBox .boxHeader { font-weight: bold; margin: 10px; }
.tileBox .boxLogo { float: left; width: 30%; height: 100%; }
.tileBox .boxContent { float: left; width: 70%; height: 100%; }
.tileBox .button { float: right; margin-right: 5px; margin-bottom: 5px; padding: 5px; cursor: pointer; background-color: #aaa; color: #fff; border-width: 1px; border-collapse: collapse; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

.button:hover { background-color: #D00239; color: #fff; }
