[class^="feedback-"], [class*=" feedback-"] {
    border: 1px transparent solid;
    position: relative;
    padding: 20px 20px 20px 45px;
    margin: 5px 0 10px 0;
    border-radius: 3px;
    color: $textColor !important;
    &.small {
        padding: 8px 20px 8px 45px;
        [class^="icon-"], [class*=" icon-"] {
            top: 9px;
            left: 10px;
        }
    }
    [class^="icon-"], [class*=" icon-"] {
        @include font-size(20);
        position: absolute;
        top: 20px;
        left: 15px;
        &.icon-close {
            @include font-size(15);
            color: #999;
            left: auto;
            right: 7px;
            top: 5px;
            cursor: pointer;
            &:hover {
                color: #222;
            }
        }
    }
    &.popup {
        display : block;
        position : fixed;
        top : 50px;
        left : 50%;
        margin-left : -200px;
        width : 400px;
        z-index : 999999;
    }
}

.feedback-error {
    border-color: mix(#fff, $error, 20%);
    background-color: mix(#fff, $error, 90%);
    .icon-error {
        color: $error !important;
    }
}

.feedback-info {
    border-color: mix(#fff, $info, 20%);
    background-color: mix(#fff, $info, 90%);
    .icon-info {
        color: $info !important;
    }
}

.feedback-success {
    border-color: mix(#fff, $success, 20%);
    background-color: mix(#fff, $success, 90%);
    .icon-success {
        color: $success !important;
    }
}

.feedback-warning {
    border-color: mix(#fff, $warning, 20%);
    background-color: mix(#fff, $warning, 90%);
    .icon-warning {
        color: $warning !important;
    }
}

.brd-error {
    border: 1px solid mix(#fff, $error, 20%) !important;
}

.brd-info {
    border: 1px solid mix(#fff, $info, 20%) !important;
}

.brd-success {
    border: 1px solid mix(#fff, $success, 20%) !important;
}

.brd-warning {
    border: 1px solid mix(#fff, $warning, 20%) !important;
}

.txt-error {
    color: $error !important;
}

.txt-info {
    color: $info !important;
}

.txt-success {
    color: $success !important;
}

.txt-warning {
    color: $warning !important;
}

.bg-error {
    background-color: mix(#fff, $error, 90%);
}

.bg-info {
    background-color: mix(#fff, $info, 90%);
}

.bg-success {
    background-color: mix(#fff, $success, 90%);
}

.bg-warning {
    background-color: mix(#fff, $warning, 90%);
}